<div class="col-sm-6 col-lg-4">
    <div class="card" id="main_posts">
        <div class="card-topper" style='background-image: url(<%= post.banner_image_url %>);'> </div>
        <div class="card-block">
            <h4 class="card-title"><%= link_to post.title, post %></h4>
            <p><%= raw post.tags.map { |t| link_to t.name, posts_path(tag: t.name) }.join(', ') %></p>
            <p class="published-date"><%= t('Published')%> <%= time_ago_in_words(post.display_day_published)

    %></p>
            <p class="published-date">Created by <%= post.author.email %></p>
            <p class="card-text"><%=truncate(post.description, length: 150) %></p>
            <%= link_to 'Read', post, class: 'btn btn-read' %>

            <% if author_signed_in? and current_author.id == post.author_id %>
            <%= link_to 'Edit', edit_authors_post_path(post), class: 'btn btn-read' %>
            <%= link_to 'Delete', authors_post_path(post), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-read' %>
            <% end %>
        </div>
    </div>
</div>

