<% provide(:page_title, @post.title) %>
<% provide(:author, 'active') %>

<div>
  <td><%= link_to 'Edit', edit_authors_post_path(@post), class: 'btn btn-sm btn-warning'%> </td>
  <%= link_to 'Remove', authors_post_path(@post), method: :delete, data: { confirm: 'Are you sure?'} , class: 'btn btn-sm btn-danger'%>   

</div>
<div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
    <h1><%= @post.title %></h1>
    <% if @post.published? %>
    <div>
    	<p class="author_email"><%= t('Published')%> <%= time_ago_in_words(@post.display_day_published)%></p>
     <br>
        <div><%= link_to 'Unpublish', unpublish_authors_post_path(@post), method: :put, class: 'btn btn-sm btn-primary'%> </div>
    <% else %>
        <div><%= link_to 'Publish', publish_authors_post_path(@post), method: :put, class: 'btn btn-sm btn-success'%> </div> 
    <% end %>
    </div>
     
   

   <br>
    <%= @post.body.html_safe %>
    </div>
</div>